{#{{dump(file)}}#}

{% set icon = "fa-question" %}
{% if file.extension == "pdf" %}
    {% set icon = "fa-file-pdf" %}
{% elseif file.mime == "image/svg+xml" %}
    {% set icon = "fa-image" %}
{% elseif file.mime == "video/x-matroska" %}
    {% set icon = "fa-video" %}
{% endif %}

{% set size = file.size/1024 %}
{% set unit = "kB" %}
{% if size > 1023 %}
    {% set size = size/1024 %}
    {% set unit = "MB" %}
{% endif %}
<td style="text-align: right; vertical-align: middle;">
    <a href="{{ file.url }}"><i class="fa {{ icon }}"></i></a>
</td>
<td style="text-align: left; vertical-align: middle;">
    <a href="{{ file.url }}">
        {{ file.filename }}<br/>
        {{ size|number_format(2, '.', ',') }}{{ unit }}  |
        {{ file.modified|td(null, grav.config.system.pages.dateformat.long) }}
    </a>
</td>
